.order-placement {
    margin: 0 auto;
    max-width: 1000px;
}
.order-placement .options {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.order-placement .client-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.order-placement .client-dropdown select {
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-image: url('../../assets/circle-user-solid.svg');
    background-size: 12px;
}
.order-placement .client-dropdown input {
    width: 92%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.order-placement .delivery-type-dropdown select {
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-image: url('../../assets/truck-solid.svg');
    background-size: 12px;
}
.order-placement .delivery-type-dropdown input {
    width: 95%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.order-placement .due-date input {
    margin-left: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.order-placement .item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    /* background-color: green; */
}
.order-placement .add-button {
    margin: 0;
    padding: 76px 79px;
    background-color: rgb(177,187,30);
}
.order-placement .add-button img {
    margin: 0;
    padding: 0;
    width: 30px;
    height: auto;
}

/* ---------- ItemCard ---------- */

.item-card {
    padding: 14px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    /* background-color: rgb(169,169,169); */
    background-color: rgb(177,187,30);
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.item-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-card select {
    width: 160px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.item-card input {
    width: 144px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.item-card button {
    margin: 0 auto;
    width: fit-content;
}
.item-card .size-dropdown select {
    background-image: url('../../assets/weight-scale-solid.svg');
    background-size: 12px;
}
.item-card .type-dropdown select {
    background-image: url('../../assets/list-solid.svg');
    background-size: 12px;
}

/* ---------- Generic Modal Content ---------- */

.order-placement .modal-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* ---------- AddClientModal ---------- */

.order-placement .add-client-modal {
    margin: 0 auto;
    margin-top: 20vh;
    padding: 20px;
    max-width: 400px;
    max-height: 50vh;
    min-height: fit-content;
    /* height: 100%; */
    border-radius: 10px;
    background-color: white;
}
.order-placement .add-client-modal .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order-placement .add-client-modal .client-info {
    margin: 40px auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* ---------- ConfirmOrderModal ---------- */
.order-placement .confirm-order-modal {
    position: relative;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 20px;
    max-width: 800px;
    max-height: 70vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: white;
}
.order-placement .confirm-order-modal button {
    margin: 0 auto;
    width: 18rem;
}
.order-placement .confirm-order-modal .submit {
    color: black;
    background-color: rgb(177,187,30);
}
.order-placement .confirm-order-modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: fit-content;
}
.order-placement .confirm-order-modal .order-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.order-placement .confirm-order-modal .items {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}