.client-dropdown select {
    background-image: url('../../assets/circle-user-solid.svg');
    background-size: 12px;
}
.delivery-type-dropdown select {
    background-image: url('../../assets/truck-solid.svg');
    background-size: 12px;
}

/* ---------- ItemCard ---------- */

.item-card {
    padding: 14px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(169,169,169);
}
.item-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-card select {
    width: 160px;
    
}
.item-card input {
    width: 144px;
}
.item-card button {
    margin: 0 auto;
    width: fit-content;
}
.item-card .size-dropdown select {
    background-image: url('../../assets/weight-scale-solid.svg');
    background-size: 12px;
}
.item-card .type-dropdown select {
    background-image: url('../../assets/list-solid.svg');
    background-size: 12px;
}