.clients {
    max-width: 1000px;
    margin: 0 auto;
}
.clients .pannel {
    /* margin: 0; */
    /* padding: 0; */
    /* padding-top: 20px; */
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 100px;
}
.clients .options-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: flex-start; */
}
.clients .options-view select {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.clients .client-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.clients .selection-view {
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgb(220,220,220); */
    background-color: rgb(177,187,30);
}
.clients .client-pannel {
    display: flex;
    flex-direction: column;
    gap: 66px;
    align-items: flex-start;
}
.clients .client-pannel .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clients .client-pannel .actions-more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.clients .client-pannel .info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.clients .client-pannel .info .delivery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.clients .client-pannel .info .delivery input {
    width: 95.6%;
}