.disabled {
    opacity: 0.5;
}

.bold {
    font-weight: 700;
}
  
.pannel {
    margin: 20px auto;
    padding: 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}